<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
  <body class="container">
    <%- include('./partials/header.ejs') %>

    <main class="main">
      <div class="featured-container">

        <% featured.forEach(function(featuredItem, index) { %>
          <%- include('./partials/featured.ejs', {
            title: featuredItem.title,
            text: featuredItem.text,
            image: featuredItem.image,
            order: index + 1
          }) %>
        <% }) %>


      <div class="stories">
        <% stories.forEach(function(story, index) { %>
          <%- include('./partials/story.ejs', {
            heading: story.heading,
            author: story.author,
            image: story.image,
          }) %>
        <% }) %>
      </div>


      <div class="features">
        <% features.forEach(function(feature, index) { %>
          <%- include('./partials/feature.ejs', {
            name: feature.name,
            desc: feature.desc,
            icon: feature.icon,
          }) %>
        <% }) %>
      </div>
    </main>
    <%- include('./partials/footer.ejs', {
      ejsRootPath: ejsRootPath,
      socialLinks: socialLinks
    }) %> 
  </body>
</html>
