<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
  <body class="container">
    <%- include('./partials/header.ejs') %>

    <main class="main">
      <div class="featured-container">

        <% featured.forEach(function(featuredItem, index) { %>
          <%- include('./partials/featured.ejs', {
            viewName: viewName,
            title: featuredItem.title,
            text: featuredItem.text,
            image: featuredItem.image,
            order: index + 1
          }) %>
        <% }) %>

      </div>
      <div class="plans-container">

        <% plans.forEach(function(plan, index) { %>
          <%- include('./partials/plan-card.ejs', {
                name: plan.name,
                desc: plan.desc,
                priceMonth: plan.priceMonth,
                viewName: viewName,
            }) %>

        <% }) %>
      </div>
    </main>
    <%- include('./partials/announcement-beta.ejs') %> 

    <%- include('./partials/footer.ejs', {
      ejsRootPath: ejsRootPath,
      socialLinks: socialLinks
    }) %> 
  </body>
</html>
